.threed {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    bottom: 0;
    font-weight: 700;
    color: #000000;
    text-shadow: 1px 1px 1px #00a5dc,
        1px 2px 1px #029bba,
        1px 3px 1px #18e8ff,
        1px 4px 1px #17aeff,
        1px 5px 1px #00a0d0,
        1px 6px 1px #00b6bc,
        1px 7px 1px #00afdb,
        1px 8px 1px #00bac0,
        1px 9px 1px #0191a8,
        1px 10px 1px #0099cc,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}