@tailwind base;
@tailwind components;
@tailwind utilities;

.threed {
    text-transform: uppercase;
    font-family: verdana;
    bottom: 0;
    font-weight: 700;
    color: #000000;
    text-shadow: 1px 1px 1px #00a5dc,
        1px 2px 1px #029bba,
        1px 3px 1px #18e8ff,
        1px 4px 1px #17aeff,
        1px 5px 1px #00a0d0,
        1px 6px 1px #00b6bc,
        1px 7px 1px #00afdb,
        1px 8px 1px #00bac0,
        1px 9px 1px #0191a8,
        1px 10px 1px #0099cc;
}

.threedprojects {
    text-transform: uppercase;
    font-family: verdana;
    bottom: 0;
    font-weight: 700;
    color: #fdfdfd;
    text-shadow: 1px 1px 1px #00a5dc,
        1px 2px 1px #029bba,
        1px 3px 1px #18e8ff,
        1px 4px 1px #17aeff,
        1px 5px 1px #00a0d0,
        1px 6px 1px #00b6bc,
        1px 7px 1px #00afdb,
        1px 8px 1px #00bac0,
        1px 9px 1px #0191a8,
        1px 10px 1px #0099cc;
}

.threedcontact {
    text-transform: uppercase;
    font-family: verdana;
    bottom: 0;
    font-weight: 700;
    color: #000000;
    text-shadow: 1px 1px 1px #00a5dc,
        1px 2px 1px #029bba,
        1px 3px 1px #18e8ff,
        1px 4px 1px #17aeff,
        1px 5px 1px #00a0d0,
        1px 6px 1px #00b6bc,
        1px 7px 1px #00afdb,
        1px 8px 1px #00bac0,
        1px 9px 1px #0191a8,
        1px 10px 1px #0099cc;
}

